<!DOCTYPE html>
<html>
  <head>
    <style>
     .text-center {
        text-align: center;
     }
     
     /*.box {
         background-color: #d3d3d3;
         border: 1px solid grey;
     }*/
      .sentence {
        margin: 0px;
        padding: 0px;
      }
      .f-font {
          font-family: helvetica;
      }
      
      img {
      display:block;
      height: 350;
      max-width: 100%;
      }
      
      
    </style>
          
 </head>
   <body>
       <div class="jumbotron text-center">
          <h1>Welcome to the About Page!</h1>
       </div>
       <div class="text-center sentence img-responsive">
           <img width="1170" height="375" src="http://hdlatestwallpaper.com/wp-content/uploads/2015/01/Sunrise-Wallpaper1.jpg">
       </div>
       <br>
       <div class="container">
           <div class="row">
               <div class="col-md-4 f-font box"><h4><b>Hi, I'am the developer of this site. My background I have military experience with the U.S. Marine Corps - Special Operations. U.S.Navy - Naval Intelligence worked with Defense Intelligence Agency, Defense Attache, Defense Humint service, and in the same facility as the Central Intelligence Agency. Have in the past worked as Senior Investigator conducting Photo/Video surveillance, and Bodyguard for J KirK Barefoot-Private Investigation firm.</b></h4></div>
               
               <div class="col-md-4 f-font box"><h4><b>But I always like Computers, from a young age  completed Computer Science-Programming in High School, after my military experience. Was able to return to College, under a G.I Bill, attended Kingsborough Community College, where I received my Computer Information Systems AAS degree, where I to studied C++, Java, and Web Design. Continue to study programming, network, algorithms, data structures, and staying up to date on the lastest Technologies.</b></h4></div>
               
               <div class="col-md-4 f-font box"><h4><b>I would like to make this site where developers can meet, discuss, post things from an scholarly, informative, insightful way about Information Technology. Will post news, reports, intelligence analysis of all things relating to Technology. Having taken Calculus and Chemistry we know the laws of Mathematics, and Chemistry exist in Nature, Space, and is the foundations of all Computers and Data utilizing electrons and more. Enjoy the site and have fun!.</b></h4></div>
               
           </div>
         
       </div> 

  </body>
</html>