<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About Page</title>
    <style>
      #first_par {
        position: relative;
        left:0px;
        margin: 5px;
        padding: 5px;
        border: 1px solid black;
      }
      
       #second_par {
        margin: 5px;
        padding: 5px;
        border: 1px solid black;
      }
      
      #third_par {
        float: right;
        margin: 5px;
        padding: 5px;
        border: 1px solid black;
      }
      
      .sentence {
        margin: 5px;
        padding: 5px;
        border: 1px solid black;
      }
    </style>
    
  </head>
  <body>
    <div class="jumbotron">
      <h1>Welcome to the About Page!</h1>
    </div>
    <div id="first_par">
      <h3>Hi, I'am the developer of this site. My background I have military experience with the U.S. Marine Corps-Special Operations. U.S.Navy-Naval Intelligence worked with Defense Intelligence Agency, and in the same facility as the Central Intelligence Agency. In the past worked as Senior Investigator, Bodyguard for J KirK Barefoot-Private Investigation firm.</h3>
    </div>
    <div id="second_par">
      <h3>But I always like Computers, from a young age  completed Computer Science-Programming in High School, after my military experience. Was able to return to College, under a G.I Bill, attended Kingsborough Community College, where I received my Computer Information Systems AAS degree, where I to studied C++, Java, and Web Design. </h3>
    </div>
     <div id="third_par">
      <h3>I would like to make this site where developers can meet, discuss, post things from an scholarly, informative, insightful way towards those looking for Information Technology related news, reports, intelligence analysis of all things relating to Technology. Having taken Calculus and Chemistry we know the laws of Mathematics, Physics, and Chemistry exist in Nature, Space, and is the foundations of all Computers and Data utilizing electrons and more. Enjoy the site and have fun!.</h3>
     </div>
     <div class="sentence"><h3>Have studied programming in C++, Python, C#, Ruby, Rails, Django, Java, HTML, CSS, JavaScript</h3></div>
     <div class="sentence"><h3>Taken classes in CyberSecurity, White Hat Hacking, Penetration Tester, Networking, Computer Technician, CISCO CCNA, Microsoft Visual Basics, SQL</h3></div>
     <div class="sentence"><h4><bold>Certifications: CompTIA A+, Network +</bold></h4></div>
  </body>
</html>