<!DOCTYPE html>
<html>
<head>
    <style>
          body {
          text-align: center;
          background: url("https://awesomewallpapers.files.wordpress.com/2013/10/sunrise1920x1200.jpg");
          background-size: cover;
          color: white;
          font-family: helvetica;
        }
    </style>
</head>
   <body>
        <nav>          
          <h1>William I/T Technology Report</h1>
          <h2>A membership and community of entrepreneurs, where I/T News and Technology are discuss for developers.</h2>
        </nav>
        
          <h3>Where you will find news relating to current events, Information Technology, presented in a Intelligence Analysis Report</h3>

   </body>
</html>





























































































