<div class="jumbotron text-center">          
  <h1>William I/T Technology Report</h1>
  <h3>A membership and community of entrepreneurs, where I/T News and Technology are discuss for developers.</h3>
</div>