<h1>Intelligence Report Brief </h1>
  <style>
      .text-left {
          text-align: center;
      }
  </style>
  
  <h2>Site still undercontruction- should be news stories and updates</h2>
  <br><br><br><br><br><br><br><br>
</div>
       <h3 class="text-left"><bold>Video's</bold></h3>
       <div class="container">
           <div class="row">
               <div class="col-md-4 f-font box">
                  <h4>NSA Prism Program</h4>
                  <iframe width="380" height="315" src="https://www.youtube.com/embed/5bT9xpfhVXQ" frameborder="0" allowfullscreen></iframe> 
               </div>
               <div>
                  <div class="col-md-4 f-font box">
                  <h4>Rise of Artificial Intelligence</h4>
                  <iframe width="380" height="315" src="https://www.youtube.com/embed/53K1dMyslJg" frameborder="0" allowfullscreen></iframe>
               </div>
               <div class="col-md-4 f-font box">
                  <h4>Google and NASA-Quantum Computing</h4>
                  <iframe width="380" height="315" src="https://www.youtube.com/embed/CMdHDHEuOUE" frameborder="0" allowfullscreen></iframe>
               </div>
               
           </div>
         
       </div> 
</div>
        
        
    
  